$xl-screen-breakpoint: 1280px;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;

$white: #ffffff;
$black: #000000;
$light-gray: #eeeeee;
$gainsboro: #e0e0e0;
$very-light-gray: #f7f7f7;
$snow: #dddddd;
$charcoal-gray: #424242;
$grey: #808080;
$prussian-blue: #0d47a1;
$davys-grey: #555555;
$gray: #bdbdbd;
$coffe-light: #aaaaaa;
$medium-gray: #888888;
$davys-grey-light: #757575;
