.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  span {
    font-size: 14px;
    color: $davys-grey;
  }
}
